@model GameCreateLappsViewModel

@{
    Layout = "_Layout";
}

<h2>title</h2>

@using (Html.BeginForm("CreateLapps", "Game"))
{
    @Html.HiddenFor(m => m.GameId)
    @Html.HiddenFor(m => m.PlayerId)

    <ul>
        @for (var i = 0; i < Model.LappTexts.Length; i++)
        {
            <li>
                @Html.EditorFor(c => Model.LappTexts[i])
                @Html.ValidationMessageFor(c => Model.LappTexts[i])
            </li>
        }
    </ul>
    <div class="row">
        <div class="col-xs-12">
            <button type="submit">Lägg i skålen</button>
        </div>
    </div>

}