@model Lappleken.Web.Models.Game.GameDetailsViewModel


    <div>
        <h2>Lag</h2>
        <ul>
            @foreach (var team in Model.Teams)
            {
                <li>@team.Name @Html.ActionLink("Join", "Join", "Game", new { teamId = team.TeamId, id = Model.GameId })</li>

            }
        </ul>
        @using (Html.BeginForm("CreateTeam", "Game"))
        {
            @Html.HiddenFor(m => m.GameId)
            @Html.TextBoxFor(m => m.TeamToAdd)

            <button type="submit">Skapa nytt</button>
        }
    </div>
