@model Lappleken.Web.Models.Game.GamePlayViewModel

<div class="status-bar row">
    <div class="col-xs-4">Fas: <span id="game-phase">@Model.Phase</span></div>
    <div class="col-xs-4">Spelare: @Model.PlayerName</div>
    <div class="col-xs-4">Lag @Model.TeamName</div>
</div>

<div class="game-status row">
    <div class="col-xs-12">
        Lag <span id="active-team"></span> spelar, <span id="active-player-id"></span> har skålen i <span id="remaining-time"></span> s till
    </div>
</div>

<div id="play-game" class="action-menu row">
    <div class="col-xs-12 center">
        <button id="take-bowl">Ta skålen</button>
    </div>
</div>
<div id="lapp" class="lapp row" data-lapp-id="">
    <div class="col-xs-12 center">
        <button id="get-first-lapp">Ta första</button>
        <span id="lapp-content">-</span>
    </div>
</div>
<div class="lapp-outcome">
    <button id="skip-lapp">Lägg tillbaka</button>
    <button id="claim-lapp">Tagen</button>
</div>
<script type="text/javascript">
    $(function () {
        function handleEvent(command) {
            var lappId = $('#lapp').data('lapp-id');

            if (command == 'first') {
                lappId = 0;
            }

            $.post('/api/Play/Lapp/',
                {
                    Command: command,
                    LappId: lappId
                }
            ).fail(function (msg) {
                alert('error ' + msg);
            }).done(function (response) {
                handleResponse(response);
            });
        }

        function handleResponse(response) {

            if ($.isEmptyObject(response)) {
                alert('inga lappar kvar');
                return;
            }

            var lapp = $('#lapp');

            lapp.data('lapp-id', response.lappId);
            lapp.find('#lapp-content').text(response.lappContent);

        };

        $('#get-first-lapp').click(function () {
            handleEvent('first');
        });

        $('#take-bowl').click(function () {
            $.post('/api/Play/TakeBowl/'
            ).fail(function (msg) {
                alert('error ' + msg);
            }).done(function (response) {
                $('game-phase').text('ManyWords');
            });

        });


        $('#skip-lapp').click(function () {
            handleEvent('skip');
        });

        $('#claim-lapp').click(function () {
            handleEvent('claim');
        });

        function setStatus(status) {

            $('#game-phase').text(status.phase);
            $('#active-player-id').text(status.activePlayerId);
            $('#remaining-time').text(status.remainingTimeForPlayer);

        }

        function updateStatus() {
            $.get('/api/Play/GameStatus/')
                .fail(function (msg) {
                    alert('error ' + msg);
                }).done(function (response) {
                    setStatus(response);
                });
        }

        window.setInterval(updateStatus, 1000);
    }
    );
</script>
