@model Lappleken.Web.Models.Game.GamePlayViewModel

<div class="development-debug">
    <div id="game-state"></div>
</div>

<div id="status-bar" class="row">
    <div class="col">Fas: <span id="game-phase">@Model.Phase</span></div>
    <div class="col">Spelare: @Model.PlayerName</div>
    <div class="col">
        Lag @Model.TeamName
        @Html.ActionLink("Lämna detta spel", "LeaveGame", "Game")
    </div>
</div>

<div id="message" class="alert-danger">
    <p></p>
</div>

<div id="game-not-started" class="row">
    <div class="col">
        Väntar på att den första spelaren tar skålen
    </div>
</div>

<div id="game-status" class="row">
    <div class="col">
        Lag <span id="active-team"></span> spelar, <span id="active-player"></span> har skålen i <span id="remaining-time"></span> s till
    </div>
</div>

<div id="game-idle" class="row">
    <div class="col">
        Väntar på att spelare i lag <span id="active-team"></span> ska ta skålen
    </div>
</div>

<div id="game-ended" class="row">
    <div class="col">
        Spelet är slut
    </div>
</div>

<div id="play-game">
    <div class="row">
        <div class="col">
            <button id="take-bowl">Ta skålen</button>
            <button id="get-first-lapp">Ta första</button>
        </div>
    </div>
    <div class="row">

        <div id="lapp" class="lapp col" data-lapp-id="">
            <span id="lapp-content">-</span>
        </div>
    </div>
    <div class="row">
        <div id="lapp-outcome" class="lapp col">
            <button id="skip-lapp">Lägg tillbaka</button>
            <button id="claim-lapp">Tagen</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        var updateHandler;

        function SetMessage(message) {
            $('#message p').text(message);

        }

        function handleEvent(command) {

            var lapp = $('#lapp');

            var lappId = lapp.data('lapp-id');

            if (command == 'first') {
                lappId = 0;
            }

            lapp.data('lapp-id', 0);
            lapp.find('#lapp-content').text('');

            $.post('/api/Play/Lapp/',
                {
                    Command: command,
                    LappId: lappId
                }
            ).fail(function (msg) {
                SetMessage('error ' + msg);
            }).done(function (response) {
                handleResponse(response);
            });
        }

        function handleResponse(response) {

            if (response.error) {
                SetMessage(response.error);
                window.href.location = '/';
            }

            if (response.message) {
                SetMessage(response.message);
                return;
            }

            var lapp = $('#lapp');

            lapp.data('lapp-id', response.lappId);
            lapp.find('#lapp-content').text(response.lappContent);

        };

        $('#get-first-lapp').click(function () {
            handleEvent('first');
            // Dölj Första, visa Skip och Claim
        });

        $('#take-bowl').click(function () {
            $.post('/api/Play/TakeBowl/'
            ).fail(function (msg) {
                SetMessage('error ' + msg);
            }).done(function (response) {
                // aktivera "Ta första"
                // dölj skip och claim
            });

        });


        $('#skip-lapp').click(function () {
            handleEvent('skip');
        });

        $('#claim-lapp').click(function () {
            handleEvent('claim');
        });

        $('#leave-game').click(function () {
            $.post('/api/Play/LeaveGame/'
            ).fail(function (msg) {
                SetMessage('error ' + msg);
            }).done(function (response) {
                window.href.location = '/';
            });
        });

        function setStatus(status) {

            $('#game-phase').text(status.phase);
            $('#active-team').text(status.activeTeamName);
            $('#game-state').text(status.gameState);

            $('#game-not-started').hide();
            $('#game-ended').hide();

            switch (status.gameState) {
                case 'WaitingForGameToStart':
                    $('#game-not-started').show();
                    $('#game-status').hide();
                    $('#game-idle').hide();
                    // Visa Ta skålen
                    // Visa alla lag och spelare för att verifiera att alla är med
                    break;
                case 'WaitingForPlayerToStart':
                    // Visa vem som spelar
                    $('#active-player').text(status.activePlayerName);
                // Rensa återstående tid
                case 'PlayerIsActive':
                    $('#game-status').show();
                    $('#game-idle').hide();

                    // Visa vem som spelar och återstående tid
                    $('#active-player').text(status.activePlayerName);
                    $('#remaining-time').text(status.remainingTimeForPlayer);
                    // Visa aktuell spelares antal tagna lappar

                    break;
                case 'WaitingForPlayerToTakeBowl':
                    $('#game-status').hide();
                    $('#game-idle').show();

                    break;

                case 'WaitingForPhaseToStart':
                    $('#game-status').hide();
                    $('#game-idle').show();
                    // Visa poängställning
                    break;
                case 'GameIsEnded':
                    $('#game-status').hide();
                    $('#game-idle').hide();
                    $('#game-ended').show();
                    // Visa poängställning
                    // Visa kuriosa-statistik
                    if (updateHandler) {
                        window.clearInterval(updateHandler);
                    }
                    break;
                default:
            }

            if (status.gameStarted == 'false') {
                $('#game-not-started').show();
                $('#game-status').hide();
                $('#game-idle').hide();
            }
            else {
                $('#game-not-started').hide();

                if (status.activePlayerName) {
                    $('#game-status').show();
                    $('#game-idle').hide();

                    $('#active-player').text(status.activePlayerName);
                    $('#remaining-time').text(status.remainingTimeForPlayer);
                }
                else {
                    $('#game-status').hide();
                    $('#game-idle').show();
                }
            }
        }

        function updateStatus() {
            $.get('/api/Play/GameStatus/')
                .fail(function (msg) {
                    SetMessage('error ' + msg);
                }).done(function (response) {
                    setStatus(response);
                });
        }

        updateStatus();
        updateHandler = window.setInterval(updateStatus, 1000);
    }
    );
</script>
